.post-header {
  margin-top: 50px;
}

.post-image-wrap {
  width: 100%;
}

.post-image {
  width: 100%;
}

.post-summary {
    background-color: #e0e0e0;
    padding: 4em;
}

.post-title {
  text-align: center;
}


