.post-header {
  @extend .container-fluid;
  padding: 20px 0 0 0;

  .post-title {
    padding-top: 30px;
    min-height: 15vh;
    text-align: center;
    padding-bottom: 20px;
  }

  .title-line {
    font-weight: bolder;
  }

  .post-image {
    width: 100%;
    min-height: 55vh;
    background-size: cover;
    background-position: center;
  }

  .post-summary {
    min-height: 25vh;
    color: $menu-color;
    background-color: #3a3a3a;
    background-image: radial-gradient(circle farthest-side, #2d2d2d, #1b1b1b);
    text-align: center;
  }

  .excerpt {
    @extend .container;
    padding: 2em 4em 1em 4em;
    font-size: x-large;
    font-family: 'Share', cursive;
  }
}

.post-content {
  @extend .container;
  padding-top: 30px;
  padding-bottom: 30px;

}

footer {
  border-top: 1px solid #808080;
}
.social-icons {
  float: right;
  padding: 5px 50px 5px 0;

}

.social-icon {
  padding-left: 15px;
  cursor: pointer;

}



