.post-header {
  @extend .container-fluid;
  height: 100vh;
  padding: 20px 0 0 0;

  .post-title {
    height: 15vh;
    text-align: center;
  }

  .post-image {
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
  }

  .post-summary {
    height: 25vh;
    color: $menu-color;
    background-color: #3a3a3a;
    text-align: center;
  }

  .excerpt {
    @extend .container;
    padding: 1em 4px 1em 4em;
    font-size: large;
  }
}

.post-content {
  @extend .container;

}




