/* Navigation ----*/

.navbar {
  position: fixed;
  top: 0;
  height: 40px;
  padding: 15px;
  background-color: transparent;
  z-index: 998;
}

.bookmarks {
  position: fixed;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 997;
  background-color: #ffff00;
  opacity: 0.9;
  color: #000000;
  height: 0px;
  transition: height 0.3s;
  overflow: hidden;
  ul,
  li {
    padding:0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
  }
  a,
  a:hover {
    color: #000000;
  }
  .remove-icon {
    position: absolute;
    right: 5px;
    top:0;
    cursor: pointer;
    font-size: 17px;
  }
}

.bookmarks-show {
  height: 25px;
}




.menu {
  position: fixed;
  top: 0;
  color: $menu-color;
  background: $menu-overlay;
  height: 100%;
  display: block;
  border-right: #1e1e1e 1px solid;
  z-index: 999;
}

@media (max-width: $screen-sm) {
  .menu {
    left: -100vw;
    width: 100vw;
    left: -100%;
    width: 100%;
    transition: all 0.7s;
  }
}

@media (min-width: $screen-sm) {
  .menu {
    left: -60vw;
    width: 60vw;
    transition: all 0.5s ease-out;
  }
}

.menu-open {
  left: 0;
}

.menu-icon {
  cursor: pointer;
  font-size: 2em;
  color: #000000;
  opacity: 0.6;
}

.menu-icon:hover {
  opacity: 0.9;
}

.menu-bottom-mask {
  @extend .full-size;
  background: $menu-overlay;
}

.menu-image-wrap {
  @extend .full-size;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-link-container {
  //padding-top: $menu-padding-top;
}

.nav-close {
  //padding: 15px;
  background: $menu-overlay;
  height: 50px;
  padding-right: 25px;
}

.close-icon {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  padding: 10px;
  font-size: x-large;
}

.post-link {
  word-wrap: break-word;
  padding: 20px;
}

.post-link-wrap {
  cursor: pointer;
  border-top: 1px solid #808080;
  background-size: cover;
  background-position: center;
}

.post-link-mask {
  @extend .full-size;
  background: $menu-overlay;
  transition: background 0.2s;
}

.post-link-mask:hover {
  background: rgba(72, 72, 72, 0.5);
}

.post-link:last-of-type {
  border-bottom: 1px solid #808080;
}


