//todo review
.project-close {
  height: 50px;
  padding-right: 25px;
  color: white;
}

.portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: #efefef;
  transition: opacity 0.3s;

  .flex-sub {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
}

@media (min-width: $screen-sm) {
  .portfolio {
    .flex-sub {
      flex: 1 1 auto;
      flex-direction: row;
      padding-top: 10%;
      height: 100%;
      width: 30px; // Needed to make the hover transition work nicely.
      transform: skewX(-16deg);
      transition: transform 0.7s, width 0.7s, padding 0.7s;

      .sub-inner {
        height: 100%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        // transform: skewX(0deg);
        overflow: hidden;
        transition: padding 0.7s;
        img {
          width: 300px;
          height: auto;
          border-radius: 3px;
          transition: all 0.5s;
        }
      }
    }

    .flex-sub:hover {
      width: 300px;
      padding-top: 5%;
      z-index: 2;

      .sub-inner {

        img {
          width: 100%;
          height: auto;
        }
      }
    }

  }
}

//@media (max-width: $screen-sm) {
//
//  .portfolio {
//    position: absolute;
//    left: -10vw;
//    width: 110vw;
//    flex-direction: column;
//    overflow-x: hidden;
//  }
//
//  .flex-sub {
//    flex: 1 1 auto;
//    width: 110vw;
//    height: 30px;
//    transform: skewY(-25deg);
//    transition: height 0.5s ease-in, transform 1s ease-in;
//  }
//
//  .flex-sub:hover {
//    height: 200px;
//  }
//
//}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  transition: opacity 0.4s;
}

.project-img {
  position: absolute;
  transform: skewX(-16deg);
  z-index: 3;
  transition: all 1s;
}

.project-view {
  display: flex;
  //move under media query
  flex-direction: row;

  .project-nav {
    width: 20vw;
  }

  .project-content {
    width: 80vw;
    [ui-view] {
      visibility: none;
    }
  }

}

.project-view > div {
  flex: 1 1 auto;
  height: 100vh;
}

/* borders -------*/
.portfolio > div:first-child {
  border-left: none;
}

.portfolio > div:last-child {
  border-right: none;
}





