//todo review
.project-close {
  height: 50px;
  padding-right: 25px;
  color: white;
}

/* Portfolio flex container ---------*/
.portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: #efefef;
  transition: opacity 0.3s;

  div:last-child {
    border-right: none;
  }
}

.portfolio > div {
    border-right: 1px solid gray;

}

/* Project view -----------*/
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  //Or make one pager for the project?
  overflow: hidden;
  transition: opacity 0.4s;
}

.project-img {
  position: absolute;
  //transform: skewX(-16deg);
  z-index: 1;
  transition: all 1s;
}

//.project-view {
//  display: flex;
//  //move under media query
//  flex-direction: row;
//
//  .project-nav {
//    width: 20vw;
//  }
//
//  .project-content {
//    width: 80vw;
//    [ui-view] {
//      visibility: hidden;
//    }
//  }
//
//}
//
//.project-view > div {
//  flex: 1 1 auto;
//  height: 100vh;
//}







