<section class="portfolio">
    <div class="flex-sub">
        <!--<div class="inner-sub"></div>-->
    </div>
    <div portfolio-item class="flex-sub">

    </div>
    <div class="flex-sub">
        <!--<div class="inner-sub"></div>-->
    </div>
    <div portfolio-item class="flex-sub">
        <!--<div class="inner-sub"></div>-->
    </div>
    <div class="flex-sub">
        <!--<div class="inner-sub"></div>-->
    </div>
    <div class="flex-sub">
        <!--<div class="inner-sub"></div>-->
    </div>
</section>
<div class="project-overlay">
    <img class="project-img" src="" data-ng-click="retract()">

    <div class="project-view">
        <div class="project-nav">

        </div>
        <div>
            <div class="project-content">
                <nav class="project-close">
                    <div data-ng-click="closeProject()" class="close-icon">
                        <i class="font-icon icon-cancel"></i>
                    </div>
                </nav>
                <div ui-view="project1">Dynamic content</div>
            </div>
        </div>
    </div>
</div>



