$transition-pf-lg: 0.7s;
/* Portfolio flex container ---------*/
.portfolio-section {
  @extend .content-container;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  overflow: hidden;
  z-index: 1;
  transition: opacity 0.7s;
}

.portfolio-title {
  padding: 40px;
  visibility: hidden;
}

.portfolio-title h1 {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  font-size: 2em;
}


/* Desktop view -----*/
@media (min-width: $screen-sm) {

  .portfolio-section {
    flex-direction: row;
  }

  .portfolio-section > div:first-child {
    //border-left: 1px solid gray;
  }

  .portfolio-section > div {
    border-right: 1px solid gray;
  }

  .portfolio-section > div:first-child {
    border-left: 1px solid gray;
  }

  .portfolio-section > div:last-child {
    //    border-right: none;
    //    .sub-outer {
    //      overflow: visible;
    //    }
  }

  .flex-sub div[progress-button] {
    position: absolute;
    top: -40px;
    left: 5px;
  }

  .flex-sub {
    flex: 1 1 auto;
    height: 100%;
    width: 100px;
    max-width: 300px;
    transition: width .4s ease-out;
  }
  .sub-outer {
    position: relative;
    padding-top: 50px;
    overflow: hidden;
  }
  .sub-inner {
    height: 55vh;
    margin: 0 auto;
    min-width: 30px;
    transition: translateX .4s;
  }
  .preview-img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 300px;
    height: 100%;
  }

  .sub-padding {
    position: relative;
    height: 100%;
    background-color: white;
  }

}

.flex-sub:hover {
  width: 300px;
  .portfolio-title {
    visibility: visible;
  }

}

/* Mobile view ------*/
@media (max-width: $screen-sm) {

  .portfolio-section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding-top: 50px;
    overflow-y: visible;
  }
  .portfolio-section:last-child {
    border-bottom: 1px solid gray;
  }

  .flex-sub div[progress-button] {
    position: absolute;
    top: -40px;
    right: 30px;
    z-index: 999;
    pointer-events: all;
  }

  .flex-sub {
    position: relative;
    flex: 1 1 auto;
    width: 100vw;
    height: 15vh;
    min-height: 90px;
    max-height: 30vh;
    padding: 0 5%;
    border-top: 1px solid gray;
    transition: height 0.5s ease-in;
    //overflow: hidden;

    .sub-outer {
      width: 100%;
      padding-top: 5px;
      position: relative;
      overflow: hidden;
    }

    .sub-inner {
      height: 100%;
      width: 100%;
    }

    .preview-img {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      height: auto;
      border-radius: 3px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: opacity .6s;
    }

    .sub-padding {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      //remove
      height: 100%;
      background: transparent;
      pointer-events: none;
    }

    .portfolio-title {
      padding: 20px;
      visibility: visible;
      opacity: 1;
      background: transparent;
    }

  }

  .flex-sub:hover {
    height: 200px;
    width: 100vw;

    .preview-img {
      visibility: visible;
      opacity: 1;
      overflow: hidden;
    }

    .portfolio-title {
      visibility: hidden;
    }
  }

}





