/* Notes background -----*/
[ui-view="post"] {
  background-color: $primary-color;
  height: 100%;
}

/* Header ------*/
.post-header {
  @extend .container-fluid;
  background-color: #ffffff;
  padding: 0;

  .post-title {
    padding-top: 30px;
    min-height: 15vh;
    text-align: center;
    padding-bottom: 20px;
    h2 {
      font-family: 'Metrophobic', sans-serif;
      font-weight: bolder;
    }
  }

  .title-line {
    font-weight: bolder;
  }

  .post-image {
    width: 100%;
    min-height: 55vh;
    background-size: cover;
    background-color: #333333;
    background-position: center;
    transition: all 7s;
    filter: contrast(100%);
    z-index: 0;
  }

  .post-image:hover {
    transform: scale(1.029);
    filter: contrast(80%);

  }

  .post-summary {
    min-height: 25vh;
    color: $notes-menu-color;
    background-color: #3a3a3a;
    background-image: radial-gradient(circle farthest-side, #3c3c3c, #1b1b1b);

  }

  .excerpt {
    @extend .container;
    padding: 0.5em 1em 0.5em 1em;
    font-size: x-large;
    font-family: 'Share', cursive;
    text-align: center;
  }
}

/* Content ------*/
.post-content {
  @extend .container;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;

  header {
    font-size: larger;
  }

  blockquote {
    font-size: 16px;
    font-style: italic;
    margin-left: 40px;
    padding-left: 15px;
    border-left: 3px gray solid;
  }

  ul {
    list-style-image: url('../assets/images/hash.svg');
  }

  li {
    // padding-left: 2px;
    margin-bottom: 15px;
  }
  a {
    color: #3d3d3d;
    font-style: italic;
  }
  pre {
    background-color: #d6d6d6;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    width: 100%;
    border-radius: 3px;
    overflow-x: scroll;
    code {
      margin: 0;
      padding: 10px;
    }
  }

}

.author {
  float: right;
  margin-bottom: 20px;
  font-size: 18px;
  margin-right: 50px;
}

/* Date -------*/
.date-horizontal {
  display: block;
  float: right;
  margin-bottom: 20px;
  font-size: 18px;

  .icon.icon-calendar {
    font-size: x-large;
  }

  .date-day {
    //color: #3d3d3d;
  }

  .date-year {
    //color: #979797;
  }

  .date-month {
    //color: gray;
  }
}

/* Footer ------*/
footer {
  border-top: 1px solid #808080;
}

/* Notes page -----*/
.notes-bg {
  width: 350px;
  margin: 0 auto;
  padding: 1em 20px;
  font-size: 180px;
  i {
    opacity: 0.2;
  }
  .notes-load-error {
    visibility: hidden;
    font-size: 20px;
    padding: 20px;
    color: $error-color;
    text-align: center;
  }
}

/* Comments ------*/
.comments {
  display: none;
  @extend .container;
  padding: 40px 15% 40px 15%;
}

.comments-visible {
  display: block;

}

/* Media queries ------*/

@media (max-width: $screen-sm) {
  .post-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  .post-header {
    .excerpt {
      text-align: left;
      padding: 13%;
    }
  }
}


/* notes-spinner ---------*/
.notes-spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.notes-spinner > div {
  background-color: #cecece;
  height: 100%;
  width: 6px;
  display: inline-block;

  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.notes-spinner .rect2 {
  animation-delay: -1.1s;
}

.notes-spinner .rect3 {
  animation-delay: -1.0s;
}

.notes-spinner .rect4 {
  animation-delay: -0.9s;
}

.notes-spinner .rect5 {
  animation-delay: -0.8s;
}


@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
     }
}
