<nav class="bookmarks" data-ng-class="{'bookmarks-show' : bookmarks.length > 0}">
    <ul>
        <li data-ng-repeat="bookmark in bookmarks">Bookmarked: <a href="{{bookmark.url}}">{{bookmark.title}}</a>
        <div data-ng-click="removeBookmark(bookmark)" class="remove-icon">
            <i class="font-icon icon-cancel"></i>
        </div>
        </li>
    </ul>
</nav>
<nav class="navbar">
    <span class="menu-icon" data-ng-click="openMenu()">
        <i class="font-icon icon-hamburger"></i>
    </span>
</nav>
<div class="menu">
    <div class="menu-image-wrap">
        <nav class="nav-close">
             <span data-ng-click="goHome()" class="blog-menu-icon home-icon">
                <i class="font-icon icon-home-2"></i>
            </span>
            <span data-ng-click="closeMenu()" class="blog-menu-icon">
                <i class="font-icon icon-close"></i>
            </span>
        </nav>
        <div class="menu-link-container">
            <div data-ng-repeat="post in posts" ng-click="showPost(post)" class="post-link-wrap" data-ng-style="{'backgroundImage': 'url(' + post.featured_image.source + ')'}">
                <div class="post-link-mask">
                    <div class="post-link">
                    <h3 data-ng-bind-html="post.title | HtmlFilter"></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-bottom-mask">

        </div>
    </div>
</div>
