.contact-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
  letter-spacing: 8px;
  line-height: 1.5em;
  background-color: $main-bg-color;
  background-image: url(../assets/images/flyer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  //avoid margin collaps
  overflow: auto; //or display: inline-block;
  .contact-wrapper {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 10px;

    .contact-target {
      position: relative;
      padding: 0 0 0 6px;
      border-bottom: 1px dashed #000000;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      cursor: pointer;
      transition: all .3s;
      a {
        color: inherit;
        padding: 0;
        margin: 0;
      }

      a:link,
      a:hover,
      a:active,
      a:visited {
        text-decoration: none;
      }
    }

    .contact-target:hover {
      border: 1px dashed #000000;
      border-radius: 3px;
      background-color: rgba(31, 72, 128, 0.40);
    }

    .phone {
      white-space: nowrap;
    }

    .phone::after {
      content: attr(data-tooltip);
      position: absolute;
      top: -17px;
      left: 0px;
      white-space: nowrap;
      padding-left: 4px;
      line-height: 1em;
      letter-spacing: 5px;
      font-size: 15px;
      border-radius: 3px;
      background-color: $main-bg-color;
      opacity: 0;
      color: #313131;
      transition: opacity .3s ease;
    }
    .phone:hover::after {
      opacity: 1;
    }

  }

  header {
    margin: 100px 0px 50px 0px;
  }
}


@media (max-width: $screen-sm) {
  .contact-section {
    font-size: 2em;
    padding: 0 15px;
    letter-spacing: 4px;

    .contact-wrapper {
      max-width: 530px;
      .phone {
        font-size: 0.9em;
      }
      .phone::after {
        font-size: 12px;
      }
    }
  }
}