<navbar></navbar>
<div ng-click="closeMenu()">
    <header class="post-header">
        <div class="post-title">
            <h2 ng-bind-html="post.title | HtmlFilter"></h2>

            <p class="title-line">_____________&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;_____________</p>
        </div>

        <div class="post-image" ng-style="getBackgroundStyle(post)">
        </div>
        <div class="post-summary">
            <div class="excerpt" ng-bind-html="post.excerpt | HtmlFilter">
            </div>
        </div>
    </header>
    <article class="post-content">
        <div ng-bind-html="post.content | HtmlFilter"></div>
    </article>
    <div class="comments">
        <dir-disqus disqus-shortname="eventures-io"
                    disqus-identifier="{{ post.ID }}"
                    disqus-url="{{ post.url }}"
                    ready-to-bind="{{ contentLoaded }}">
        </dir-disqus>
    </div>
    <footer>
        <div class="social-icons">
         <span class="hint--top hint--rounded" data-hint="Bookmark" ng-click="bookmarkArticle(post.title)">
            <img class="social-icon" src="assets/images/bookmark.svg" alt="bookmark">
         </span>
         <span class="hint--top hint--rounded" data-hint="Share">
            <img class="social-icon" src="assets/images/share.svg" alt="share">
         </span>
         <span class="hint--top hint--rounded" data-hint="Recommend">
            <img class="social-icon" src="assets/images/star.svg" alt="recommend">
         </span>
        </div>
    </footer>
</div>