/* Project close navigation ------*/
.project-nav-close {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
}

.project-nav-close:hover {
  //  .font-icon {
  //    animation: roll .7s;
  //  }
  background-color: $secondary-color;

}

.refresh-icon {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
  img {
    height: 100%;
    width: auto;
  }
  visibility: hidden;
}

.refresh-icon.show {
  visibility: visible;
  opacity: 0.6;
  animation: rotate .3s .3s forwards;
}

@keyframes rotate {
  0% {

  }
  100% {
    transform: rotate(180deg);
  }
}

.btn-expand {
  .font-icon {
    visibility: hidden;
  }
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: $project-bg-color;
}

.btn-expand-fwd {
  @extend .btn-expand;
  animation: expand .3s;
  animation-fill-mode: forwards;
}

.btn-expand-bkwd {
  @extend .btn-expand;
  //border: none;
  animation: contract .4s;
  animation-fill-mode: forwards;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes expand {
  0% {

  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes contract {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {

  }
}