.floating-button {
  position: fixed;
  top: calc(50vh - 17px);
  height: 35px;
  margin: 15px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .4s;

}

.floating-button img {
  max-height: 100%;
  width: auto;
  opacity: 0.6;
}

.floating-button:hover {
  height: 37px;
}

.floating-button.left {
  left: 0px;
}

.floating-button.right {
  right: 0px;

}

.floating-button.visible {
  visibility: visible;
  opacity: 1;
}