<form enctype="multipart/form-data" class="contact-form">
    <div class="form-inner">
        <ol class="steps">
            <li>
                <input id="step1" name="message" type="text" placeholder="Your message" maxlength="240"/>
                <span><label for="step1">Your message</label></span>
            </li>
            <li>
                <input id="step2" name="email" type="email" placeholder="What is your email address?" maxlength="120"/>
                <span><label for="step2">Your email adress</label></span>
            </li>
            <li>
                <input id="step3" name="name" type="text" placeholder="What is your name?" maxlength="30"/>
                <span><label for="step3">Your name</label></span>
            </li>
        </ol>
        <button class="submit" type="submit">Send</button>
        <div class="controls">
            <button class="next"></button>
            <div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
            <span class="error-message"></span>
        </div>
    </div>
    <div class="spinner">
        <img class="spinner-gif" src="assets/images/spinner.gif"/>
    </div>
    <span class="final-message">

    </span>
</form>