<form class="contact-form">
    <div class="form-inner">
        <ol class="steps">
            <li>
                <input id="step1" name="step1" type="text" />
                <span><label for="step1">What's your name?</label></span>
            </li>
            <li>
                <input id="step2" name="step2" type="email"/>
                <span><label for="step2">What's your email adress?</label></span>
            </li>
            <li>
                <input id="step3" name="step3" type="text"/>
                <span><label for="step3">Your message?</label></span>
            </li>
        </ol>
        <button class="submit" type="submit">Send</button>
        <div class="controls">
            <button class="next"></button>
            <div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
            <span class="error-message"></span>
        </div>
    </div>
    <span class="final-message"></span>
</form>