    <div class="share-icons">
        <div class="social-icons">
            <!-- TODO replace span with ul/li -->
         <span>
            <a href="#"
               socialshare
               socialshare-provider="google+"
               socialshare-url="{{social.shortUrl}}">
                <i class="font-icon icon-google-plus-rect"></i></a>
         </span>
         <span>
             <a href="#"
                socialshare
                socialshare-provider="twitter"
                socialshare-url="{{social.shortUrl}}"
                socialshare-text="{{social.shareText}} {{social.shortUrl}}"
                socialshare-via="{{social.twitterVia}}"
                socialshare-hashtags="{{social.twitterTags}}">
                 <i class="font-icon icon-twitter-bird"></i>
             </a>
         </span>
         <span>
             <a href="http://www.github.com/eventures-io" target="_self"><i
                     class="font-icon icon-github-square"></i></a>
         </span>
        </div>
         <span class="hint--top hint--rounded" data-hint="Read Later" data-ng-click="bookmarkArticle()">
             <i class="font-icon icon-bookmark"></i>
         </span>
         <span ng-mouseenter='showSocialIcons()'>
             <i class="font-icon icon-share"></i>
         </span>
         <span class="hint--top hint--rounded" data-hint="Recommend" data-ng-click="recommend()">
             <i class="font-icon icon-like"></i>
         </span>
    </div>