<div class="social-icons">
         <span class="hint--top hint--rounded" data-hint="Bookmark" ng-click="bookmarkArticle(post.title)">
            <img class="social-icon" src="assets/images/bookmark.svg" alt="bookmark">
         </span>
         <span class="hint--top hint--rounded" data-hint="Share" ng-click='showSocialIcons()'>
            <img class="social-icon" src="assets/images/share.svg" alt="share">
         </span>
         <span class="hint--top hint--rounded" data-hint="Recommend">
            <img class="social-icon" src="assets/images/like.svg" alt="recommend">
         </span>
</div>