.notes-nav {
  .menu-icon {
    position: fixed;
    top: 0;
    height: 40px;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    font-size: small;
    color: #000000;
    opacity: 0.7;
    z-index: 998;

    .menu-icon:hover {
      opacity: 0.9;
    }
  }

  .notes-menu {
    position: fixed;
    top: 0;
    color: $notes-menu-color;
    background: $notes-menu-overlay;
    height: 100%;
    display: block;
    border-right: #1e1e1e 1px solid;
    z-index: 999;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul li {
      position: relative;
      display: block;
      cursor: pointer;
      height: 100%;
      border-top: 1px solid #808080;
      background-size: cover;
      background-position: center;


    }

    .bg-mask {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 2em;
      background: $notes-menu-overlay;
      transition: background 0.2s;
      .post-title {
        font-family: 'Raleway', sans-serif;
        //TODO use em
        font-size: 1.17em;
        color: #fcfcfc;
        z-index: 2000;
      }
    }

    .bg-mask.active{
      background: rgba(72, 72, 72, 0.3);
    }

    .bg-mask:hover {
      background: rgba(72, 72, 72, 0.4);
    }

    ul li:last-of-type {
      border-bottom: 1px solid #808080;
    }
  }

  .notes-menu.open {
    left: 0;
  }

  .menu-bottom-mask {
    //TODO use bg gradient
    background: $notes-menu-overlay;
    height: 100%;
  }

  .menu-nav {
    //padding: 15px;
    background: $notes-menu-overlay;
    height: 50px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;

    .blog-menu-icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 10px;
      font-size: x-large;
    }

    .home-icon {
      width: 200px !important;
      transition: all 0.5s ease-in;
    }
    .home-icon:hover {
      transform: translateX(6px);
    }
  }

  @media (max-width: $screen-sm) {
    .notes-menu {
      left: -100vw;
      width: 100vw;
      transition: all 0.7s;
    }
  }

  @media (min-width: $screen-sm) {
    .notes-menu {
      left: -60vw;
      width: 60vw;
      transition: all 0.5s ease-out;
    }
  }

  /*Bookmarks -----*/
  .bookmarks-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 997;
    background-color: #ffff00;
    opacity: 0.9;
    color: #000000;
    height: 0px;
    transition: height 0.3s;
    overflow: hidden;
    ul,
    li {
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: smaller;
      font-weight: bold;
    }
    a,
    a:hover {
      color: #000000;
    }
    .remove-icon {
      position: absolute;
      right: 5px;
      top: 0;
      cursor: pointer;
      font-size: 17px;
    }
  }

  .bookmarks-show {
    height: 25px;
  }
}

