.home-section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.8);
  color: whitesmoke;
  z-index: 99;

  .home-header {
    margin-top: 15%;
    //margin-left: 15%;
    width: 50%;
    font-size: 36px;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: right;
    h1 {
      font-family: 'PT Sans Narrow', sans-serif;
      letter-spacing: 8px;
      margin-bottom: 10px;
    }
    h5 {
      font-family: 'PT Sans Narrow', sans-serif;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .welcome-button {
    margin-left: 4px;
    background-color: #00ce00;
    border-radius: 8px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all .7s;
  }

  .welcome-button:hover {
    padding: 4px 10px;
  }

  @media (max-width: $screen-md) {
    .home-header {
      width: 70%;
    }
  }

  @media (max-width: $screen-sm) {
    .home-header {
      margin-top: 30%;
      width: 100%;
      padding: 0 25px;
      text-align: center;
      font-size: 30px;

      h1 {
        font-size: 40px;
      }
    }
  }

}