.home-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-bg-img {
  height: 100%;
  background: linear-gradient(
      rgba(black, 0.3),
      rgba(black, 0.3)),
  url(../assets/images/home.jpeg) no-repeat;
  background-size: cover;
  background-position: -50px 0;
  filter: grayscale(80%);
  transform: scale(1.08);
  transition: 0.3s linear;
  transition-property: background-position;
}

.down-arrow {
  position: absolute;
  top: calc(50vh - 75px);
  height: 150px;
  width: 20px;
  background-image: url(../assets/icons/arrow-down.svg);
  background-repeat: no-repeat;
}

.home-section .down-arrow-left {
  @extend .down-arrow;
  left: 15px;
}

.home-section .down-arrow-right {
  @extend .down-arrow;
  right: 15px;
}

.home-header {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  z-index: 1;
  img {
    height: 150px;
    width: 150px;
  }
}

.home-scroll-btn {
  position: absolute;
  bottom: 30px;
  left: calc(50vw - 25px);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(black, 0.5);
  padding: 15px;
  cursor: pointer;
  opacity: 0.7;
  img {
    width: 20px;
    height: auto;
  }
}