<nav class="nav-menu">
    <div class="nav-overlay"></div>
    <span class="menu-btn" data-ng-click="toggleMenu()">
        <i class="font-icon icon-hamburger"></i>
    </span>
    <ul data-ng-click="navigate()">
        <li id="home">
            <i class="font-icon icon-home-2"></i>Home
        </li>
        <li id="work">
            <i class="font-icon icon-work"></i>Work
        </li>
        <li id="blog">
            <i class="font-icon icon-blog"></i>Blog
        </li>
        <li id="about">
            <i class="font-icon icon-about"></i>About
        </li>
        <li id="contact">
            <i class="font-icon icon-contact4"></i>Contact
        </li>
    </ul>
</nav>