<nav class="nav-menu">
    <div class="nav-overlay"></div>
    <span class="menu-btn" ng-click="toggleMenu()">
        <i class="font-icon icon-hamburger"></i>
    </span>
    <ul>
        <li id="home">
            <i class="font-icon icon-home-2"></i>Home
        </li>
        <li id="work">
            <i class="font-icon icon-work"></i>Work
        </li>
        <li id="notes">
            <i class="font-icon icon-blog"></i>Notes
        </li>
        <!--<li id="about">-->
            <!--<i class="font-icon icon-about"></i>About-->
        <!--</li>-->
        <li id="contact">
            <i class="font-icon icon-contact5"></i>Contact
        </li>
    </ul>
</nav>