<div class="progress-button" ng-click="loadProject()">
    <svg class="button-svg" viewPort="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-progress" r="32" cx="40" cy="40" stroke-dasharray="500"></circle>
        <!--<circle class="circle-inner"  r="30" cx="40" cy="40">-->
        </circle>
        <line fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="25"
              y1="40" x2=55 y2="40"></line>
        <line fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="40"
              y1="25" x2="40" y2="55"></line>
    </svg>
</div>