
.button-svg {
  width:200px;
  height:200px;
  cursor: pointer;

  .circle-inner {
    r:45;
    fill: #ececec;
    fill-opacity: 0.8;
    transition: all 0.1s ease-out;
  }

  .circle-progress{
    r:80;
    fill: #ececec;
    fill-opacity: 0.6;
    stroke: #FF9F1E;
    stroke-width: 4px;
    stroke-dashoffset: 615;
    transition: r 0.1s ease-out, stroke-dashoffset 1s linear;
  }

  .progress-active {
    stroke: #FF9F1E;
  }

}


.button-svg:hover {
  .circle-progress{
   r:85;

  }
  .circle-inner {
    r:55;
  }
}

