/*MAIN-VIEW ---------*/
.animate-main.ng-enter-active {
  z-index: 99;
  position: absolute;
  top: 100vh;
}

.animate-main.ng-enter {
  animation: moveToTop .4s .1s ease;
}

.animate-main.ng-leave-active {
  z-index: 98;
}

.animate-main.ng-leave {
   animation: fadeOut 5s;
}

/*ARTICLE-VIEW -------*/

//.ng-enter-active
//
//.animate-article.ng-enter {
  //animation : article-slide-in 0.9s ease-out;
//}


/*SITE_VIEW -------*/

//.animate-site.ng-enter {
//  animation: fadeIn .4s;
//}
//
//.animate-site.ng-enter {
//  animation: fadeOut .4s;
//}

/* KEYFRAMES -------*/
@keyframes moveToTop {
  from {
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}