/*MAIN-VIEW ---------*/
.animate-main.ng-enter-active {
  z-index: 99;
  position: absolute;
  top: 100vh;
}

.animate-main.ng-enter {
  animation: slideUp .4s ease;
}

.animate-main.ng-leave-active {
  z-index: 98;
}

.animate-main.ng-leave {
   animation: fadeOut 3s;
}


/* KEYFRAMES -------*/
@keyframes slideUp {
  from {
  }
  to {
    transform: translateY(-100%);
  }
}


@keyframes scaleDown {
  from {
  }
  to {
    transform: scale(0.99);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}