/*MAIN-VIEW ---------*/
.animate-main.ng-enter-active {
  z-index: 99;
  position: absolute;
  top: 100vh;
}

.animate-main.ng-enter {
  animation: slideUp .5s ease-out;
}

.animate-main.ng-leave-active {
  z-index: 0;
}

.animate-main.ng-leave {
   //animation: fadeOut 3s;
  animation: shiftUp .5s ease-out;
}

/* POST -------*/
.animate-post.ng-enter {
  animation: fadeIn .4s linear;
}

.animate-post.ng-leave {
  animation: shiftUp .5s ease-out;
}

/* PROJECT ---------*/

.animate-project.ng-enter {
  animation: fadeIn .4s linear;
}

.animate-project.ng-leave {
  animation: shiftLeft .2s linear;
}


/* KEYFRAMES -------*/
@keyframes slideUp {
  from {
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes shiftUp {
  from {
  }
  to {
    transform: translateY(-5%);
  }
}

@keyframes shiftLeft {
  from {
  }
  to {
    transform: translateX(-5%) scale(0.99);
    opacity: 0;
  }
}

@keyframes scaleDown {
  from {
  }
  to {
    transform: scale(0.99);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

//
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}