@import url(https://fonts.googleapis.com/css?family=Roboto:300|Raleway|Share|Metrophobic|Allerta+Stencil|Sarina|Aldrich|PT+Sans+Narrow|Ubuntu+Condensed|Wire+One);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
//tooltip
@import "hint.css/src/hint";

/* Variables ----*/
$body-color: #666666;
$error-color: #B90000;
$primary-color: #efefef;
$secondary-color: #00ce00;
$project-bg-color: #dcdcdc;
$notes-menu-overlay: rgba(29, 29, 29, 0.9);
$notes-menu-color: #F5F5F5;
$loader-color: $body-color;
$matte-black: #232323;

$container-width: 1170px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**
 * App-wide Styles
 */

//TODO move font style to blog section
body {
  margin: 0;
  font-family: "Roboto", serif;
  color: $body-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7em;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.content-container {
  max-width: $container-width;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.animate-main {
  height: 100vh;
  width: 100vw;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

// injector
@import 'animations.scss';
@import 'contact/contact.scss';
@import 'fontello.scss';
@import 'home/home.scss';
@import 'notes/post.scss';
@import 'work/action-buttons.scss';
@import 'work/portfolio-view.scss';
@import 'work/project-view.scss';
@import 'work/projects/projects.scss';
@import 'work/site-view/site.scss';
@import 'contact-form/contact-form.scss';
@import 'expand-button/expand-button.scss';
@import 'nav-menu/nav-menu.scss';
@import 'notes-menu/notes-menu.scss';
@import 'portfolio/portfolio-item.scss';
@import 'preloader/preloader.scss';
@import 'progress-button/progress-button.scss';
@import 'project-navigation/project-navigation.scss';
@import 'scroll-button/scroll-button.scss';
@import 'social/social.scss';
@import 'view-site-button/view-site-button.scss';
// endinjector