@import url(https://fonts.googleapis.com/css?family=Roboto:300|Raleway|Share|Metrophobic|Allerta+Stencil|Sarina|Aldrich|PT+Sans+Narrow|Ubuntu+Condensed);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

/**
 * App-wide Styles
 */

/* Variables ----*/
$body-color: #666666;
$error-color: #B90000;
$stroke-color: #009600;
$main-bg-color: #efefef;

$notes-menu-overlay: rgba(29, 29, 29, 0.9);
$notes-menu-color: #F5F5F5;
$loader-color: $body-color;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//TODO these font settings should move to blog section
body {
  margin: 0;
  font-family: "Roboto", serif;
  color: $body-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7em;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.animate-main {
  height: 100vh;
  width: 100vw;
}

//TODO remove
.full-size {
  height: 100%;
  width: 100%;
}

// Component styles are injected through grunt
// injector
@import 'animations.scss';
@import 'contact/contact.scss';
@import 'fontello.scss';
@import 'hint.scss';
@import 'home/home.scss';
@import 'notes/post.scss';
@import 'work/action-buttons.scss';
@import 'work/projects/projects.scss';
@import 'work/site-view/site.scss';
@import 'work/work.scss';
@import 'contact-form/contact-form.scss';
@import 'nav-menu/nav-menu.scss';
@import 'notes-menu/notes-menu.scss';
@import 'portfolio/portfolio-item.scss';
@import 'preloader/preloader.scss';
@import 'progress-button/progress-button.scss';
@import 'scroll-button/scroll-button.scss';
@import 'social/social.scss';
// endinjector
