
.polaroiz {
  h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 42px;
  }

}

.plantzr {
  h1 {
    font-family: 'Sarina', sans-serif;
    font-size: 42px;
  }
}

.ocean-feedr {
  h1 {
    font-family: 'Dopio One', sans-serif;
    font-size: 42px;
  }
}
