/* Polaroiz ----*/
.polaroiz h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 42px;
}

.polaroiz .project-background {
  height: 76vh;
}

/* Ocean-feedr -----*/
.ocean-feedr .project-background {
  height: 70vh;
}

.ocean-feedr h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 42px;
}

/* Plantzr ----*/
.plantzr, .plantzr-mobile, .plantzr-proto {
  h1 {
    font-family: 'Sarina', sans-serif;
    font-size: 42px;
    color: #303030;
    line-height: 1em;
  }
}

.plantzr .project-background {
  height: 80vh;
}

.plantzr .project-visual {
  order: 2;
}

/* Plantzr mobile  ------*/
.plantzr-mobile {
   color: #000000;
}

.plantzr-mobile h1 {
  position: relative;
  text-align: center;
}

.plantzr-mobile h1::after {
  content: 'mobile';
  position: absolute;
  left: 55%;
  top: 30px;
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}

.plantzr-mobile .project-background {
  height: 73vh;
  background-color: #dcdcdc;
}

.plantzr-mobile .header-background {
  background-color: rgba(#b0b0b0, 0.8);
}

.plantzr-mobile .scroll-btn {
   position: relative;
   top: 1000;
}

/* Plantzr proto  ----*/
.plantzr-proto .project-background {
  height: 74vh;
}

.plantzr-proto h1 {
  max-width: 400px;
}
.plantzr-proto .project-visual {
  order: 2;
}

.plantzr-proto .redesign-title {
  font-family: 'Aldrich', sans-serif;
  font-size: 30px;
}

.plantzr-proto .project-description.proto {
  background-color: #ffffff;
  overflow-x: scroll;

}

.plantzr-proto .proto-video {
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  video {
    position: relative;
    left: -320px;
    width: 1100px;
    height: 640px;
  }
}

.plantzr-proto .proto-buttons {
  margin-top: 0;
  background-color: $primary-color;
  padding-top: 20px;
}

@media (max-width: $screen-sm) {
  .plantzr-proto .proto-description {
    order: 2;
  }
}

/* Angular loader -----*/
.angular-loader .project-background {
  height: 74vh;
}
.angular-loader h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 42px;
  max-width: 400px;
  line-height: 1em;
  text-align: center !important;
}

.angular-loader .project-visual {
  order: 2;
}



