/* Navigation ----*/

.navbar {
  position: fixed;
  top: 0;
  height: 40px;
  padding: 15px;

}

.menu {
  position: fixed;
  top: 0;
  left: -60vw;
  width: 60vw;
  color: $menu-color;
  background: $menu-overlay;
  height: 100vh;
  display: block;
  border-right: #525252 1px solid;
  transition: all 0.5s ease-out;
  z-index: 9999;
}

.menu-open {
  left: 0;
}

.menu-icon {
  cursor: pointer;
}

.menu-bottom-mask {
  @extend .full-size;
  background: $menu-overlay;
}

.menu-image-wrap {
  @extend .full-size;
  background-repeat: no-repeat;
  background-size: cover;
}


.menu-link-container {
  //padding-top: $menu-padding-top;
}

.close-icon {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  font-size: xx-large;
}

.nav-close {
  padding: 15px;
  background: $menu-overlay;
  height: 40px;
}

.post-link {
  padding: 20px;
}

.post-link-wrap {
  cursor: pointer;
  border-top: 1px solid #808080;
  background-size: cover;
}

.post-link-mask {
  @extend .full-size;
  background: $menu-overlay;
  transition: background 0.2s;
}

.post-link-mask:hover {
  background: rgba(72, 72, 72, 0.5);
  //padding: 25px 20px 25px 20px;
}

.post-link:last-of-type {
  border-bottom: 1px solid #808080;
}


